---
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: 0
ColumnLimit: 120
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: CaseInsensitive
NamespaceIndentation: None
Standard: c++20
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
FixNamespaceComments: true
